:root {
    --aboutbck: #00171F;
    --abouttxt: #FFF;
    --nav: #fdaffd;
    --buttontext: #FFF;
    --button: #332233;
    --gradient0: #3177B8;
    --gradient51: #1AA7DA;
    --gradient100: #01DBFF;
}

/*Grid system set-up*/
* {
    /* box-sizing accounts for the border and padding along with the content size when defining and item's height and width. */
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 5px;
    padding: 5px;
}

.container {
    display: grid;
    /*vh stands for viewport height*/
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .2fr 1fr 1fr 2fr .8fr;
    grid-template-areas: "nav nav nav nav" "home home home home" "about about about about" "projects projects projects projects" "contact contact contact contact";
    grid-gap: 0.2rem;
}

#nav {
    grid-area: nav;
}

#home {
    grid-area: home;
}

#about {
    border: solid;
    grid-area: about;
}

#projects {
    grid-area: projects;
}

#contact {
    grid-area: contact;
}


/*Hyperlink formatting*/
a:link {
    text-decoration: none;
    color: var(--nav);
}

a:visited {
    text-decoration: none;
    color: var(--nav);
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/*nav bar formatting*/

nav>ul>li {
    list-style: none;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vh;
}


/*Home formatting*/

/*About*/

#about {
    background-color: var(--aboutbck);
    color: var(--abouttxt);
    /* display: grid; */
}


/*Skills - Future Update*/
/* #skills {
    display: grid;
} */


/*Projects*/
button {
    width: 150px;
    color: var(--buttontext);
    background-image: linear-gradient(to right, var(--gradient0) 0%, var(--gradient51) 51%, var(--gradient100) 100%);
    border: var(--button);
    border-radius: 10px;
    padding: 10px 30px;
    margin: 10px;
    text-align: center;
    align-items: center;
    /*Gets rid of underline when I anchor links to the button*/
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover,
button:focus {
    background-position: right center;
    cursor: pointer;
}

.first {
    display: block;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin: 2%;
    border: #00171F solid;
}





/* Makes cursor have a no-symbol when hovering over - For 
cursor: not-allowed; */

/*Phones*/
@media screen and (max-width: 768px) {}

/*Tablets*/
@media screen and (min-width: 768px) {}

/*Desktop*/
@media screen and (min-width: 992px) {}

/*Contact Me*/